@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-color: black ;
  font-family: 'Bebas Neue', cursive;




}
body .titre{
  color: red;
  font-size: 90px;
}
body .phrase{
  color: white;
  font-size: 100px;
}
body .dieu{
  font-size:50px;
  color: white;
}
body .zizi{
  font-size:50px;
  color: white;
}
body .ok{
  font-size:20px;
  color: white;
}
header {
  font-size: 50px ;
  background-color: black ;
  font-family: 'Bebas Neue', cursive;
  color: white;
}
